@{
    ViewData["Title"] = "Home Page";
    string v = Url.Action("Content", "home", new { id = @"120-myArticle" });
    string p = Url.Action("Content", "home", new { id = @"120-myArticle",culture = "sv-se"});
}


<a href="@Url.Action("Login","Admin")" style="font-size:24px">Goto Login</a>


<div style="margin-top:64px"> 

<p>Url.Action("Content", "home", new { id = @@"120-myArticle" })  @(v==null?"Fails, return null":"Success, result:"+v.ToString()) </p>

<p>Url.Action("Content", "home", new { id = @@"120-myArticle",culture = "sv-se"}) @(p==null?"Fails, return null":"Success, result:"+p.ToString())</p>

</div>  
